body, html {
    background-color: #200045;
    margin: 0;
}

@font-face {
  font-family: 'fonte';
  src: url('Font.ttf') format('truetype');
}

body {
  font-family: 'fonte';
}


.top-bar {
    background-color: #2f0056;
    display: flex;
    flex-direction: row;
    color: white;
    box-shadow: 3px 3px 7px rgb(0, 0, 0);
    align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
}

.top-bar * {
    margin-left: 7px;
}

.top-bar img {
    width: 15%;
    max-width: 100px;
    height: auto;
    max-height: 100px;
}

.scroll {
  color: white;
  display: flex;
  flex-direction: column;

}

.scroll * {
  margin-left: 10px;
  margin-top: 10px;
}

.addom {
  display: flex;
  flex-direction: column;
  background-color: #2f0056;
  width: 30%;
  height: auto;
  border-radius: 5px;
}

.miniatura {
  width: 40%;
  max-width: 140px;
  min-width: 70px;
  max-height: 140px;
  min-height: 70px;
}
.addom-img-and-descri {
  display: flex;
  flex-direction: row;
}

.descri {
  width: 40%;
  height: 25%;
  font-size: 13px;
}

.ver-mais {
  background-color: #2f0056;
  position: fixed;
  width: 100%;
  height: 350px;
  color: white;
  bottom: -350px;
  transition: 0.4s;
}

.ver-mais img {
  width: 150px;
  height: 150px;
}

.sair-mais {
  margin-left: 95%;
}

.baixar {
  background-color: #200045;
  width: 100%;
  height: 50px;
  text-align: center;
  align-content: center;
}